.container {
  height: 100vh;
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.blog-posts {
  flex: 3;
  padding: 20px;
}

.post {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

app-sidebar {
  flex: 1;
}
