<div class="container">
  <h2>About me</h2>
  <img src="/ninja.png" alt="logo" />
  <p>
    Short description about me. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Praesentium temporibus atque minus dolor nihil? Laborum
    illum, inventore ut, praesentium aliquid iure, eos fugiat ipsum magnam
    quibusdam exercitationem pariatur modi asperiores? Non doloribus ullam rem,
    nulla sed fuga culpa dolor quis, laudantium nam tenetur sunt minus
    reiciendis vitae animi, exercitationem porro. Accusantium quos incidunt nemo
    atque fuga rerum libero corporis distinctio. Non placeat dicta commodi
    similique? Voluptatibus iure impedit odit nostrum reiciendis labore ex a in
    assumenda quisquam, delectus non accusantium adipisci quis nisi quia
    repellat esse tempora consequuntur dolor. Eius.
  </p>
</div>
